################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/obj/x86/Debug
/ConsoleApp.sln.DotSettings.user
/ConsoleApp.sln
/ConsoleApp.csproj.user
/ConsoleApp.csproj
/bin/Debug
/.vs/ConsoleApp/v15
/.gitignore
/*.tfignore
/*.suo
/ConsoleApp/*.csproj
/ConsoleApp/*.user
/ConsoleApp/*.pfx
/ConsoleApp/Properties/*.manifest
/ConsoleApp/bin/Debug/*.application
/ConsoleApp/bin/Debug/*.exe
/ConsoleApp/bin/Debug/*.manifest
/ConsoleApp/bin/Debug/*.pdb
/ConsoleApp/obj/x86/Debug/*.xml
/ConsoleApp/obj/x86/Debug/*.application
/ConsoleApp/obj/x86/Debug/*.txt
/ConsoleApp/obj/x86/Debug/*.exe
/ConsoleApp/obj/x86/Debug/*.manifest
/ConsoleApp/obj/x86/Debug/*.pdb
/ConsoleApp/obj/x86/Debug/*.cache
