################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/obj/x86/Debug
/ConsoleApp.sln.DotSettings.user
/ConsoleApp.sln
/ConsoleApp.csproj.user
/ConsoleApp.csproj
/bin/Debug
/.vs/ConsoleApp/v15
/.gitignore
